body {
	margin-top: 20px;
	background:  transparent url(../img/icon.png) no-repeat center center;
	<!--background-size: cover;-->
}
.main-page {
	background:  transparent url(../img/splash.png) no-repeat center center;
	background-size: cover;
}